* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container {
  display: flex;
}

  .left-panel {
  background-image: url(unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 40%;
  height: 100vh;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100px;
  position: absolute;
  top: 20%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}




.right-panel {
  width: 60%;
  height: 100vh;
  background-color: white;
}

